
  

  body{
    background-image: url(../images/b1.jpg);
    background-position: center center;
    
  }
  
.research {
  position: relative;
  top:-30px ;
 
}

header{
    background-color: #df9898;
    padding: 20px;
    margin-top:20px ;
    border-radius: 30px;
}

header p{
  color: #c1a181;
  position: relative;
  left: 30px;
}
header h1{
    color: rgb(127, 85, 26);
    position:relative;
    left:60px;
    top: 80px;
    font-size: 30px;
}
header a{
    color:rgb(249, 246, 246);
    text-decoration-line:none;
    font-size: 20px;
    
}
header li{
    position: relative;
    
    display: inline;
    margin-right: 30px;
    position:relative;
    left:%;
}

header:hover{
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
  filter: brightness(-3.5);}
header li::after{
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: rgb(248, 243, 243);
  position:absolute;
  right: 0;
  transition:.4s;
}
header li:hover::after{
  width: 100%;
  left: 0;
}
.six h4{
  text-align: center;
  color: #c1a181;
  font-size: 40px;
  
}

.happy {
  background-color: #e9e7b9;
  width: 800px;
  height: 230px;
  margin: 50px auto;
  border-radius: 30px;
  overflow: hidden;
}

.happy.f {
  background-color: #d4c7d0;
}

.bdcard {
  width: 100px;
  float: left;
  padding: 20px;
  height: 30px;
}

.bdcard.c {
  width: 250px;
  float: right;
  padding: 30px;
}

.happy:hover {
  background-color:#d6cfc3;
  border-color: black;
}


.bdcard img {
  display: block;
  width: 240px;
  border-radius: 20px;
  position: relative;
top:-10px;}

.bdtext {
  float: right;
  width: 430px;
  padding: 20px 20px 0px 0px;
}

.bdtext h2{
 position: relative;
 top:-30px;

}
.bdtext h3{
  position: relative;
  top:-40px;
}
.bdtext p{
  position: relative;
  top:-50px;
}

.six {
  margin: 20px;
  padding: 10px;
  
  border-radius: 5px;
}

/* New brand introduction section */
.brand-intro {
  padding: 20px;
  margin: 20px 0;
  background-color: #fff3e0;
  border: 2px solid #ffa726;
  border-radius: 10px;
  text-align: center;
}

.brand-intro h4 {
  font-size: 1.8em;
  color: #e65100;
  margin-bottom: 10px;
}

.brand-intro hr {
  width: 50%;
  margin: auto;
  border: 1px solid #e65100;
}

.brand-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.brand-content img {
  margin-bottom: 10px;
}

.brand-content p {
  font-size: 1.2em;
  color: #5d4037;
  line-height: 1.6em;
  max-width: 600px;
}

/* Add to about.css */

/* New product introduction section */
.product-intro {
  width: 700px;
  padding: 20px;
  margin: 20px 350px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.product-intro h4 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 10px;
}

.product-intro hr {
  width: 50%;
  margin: auto;
  border: 1px solid #666;
}

.product-content {
  margin-top: 20px;
}

.product-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-content p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
}

.new{
  position: relative;
  left: 250px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.location{
  display:flex
}

.location{
  position: relative;
  left: -100px;
}

.location img{
  width: 50%;
  border-radius: 30px;
}

.location img:hover{
  filter:alpha(Opacity=80);mozopacity:0.8;opacity: 0.8;
}

.locationword{
  width: 40%;
 background-color: #ecd7d7;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.locationword h1{
  color: rgb(230, 113, 113);  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: -60px;
  margin-bottom: 40px;
}

.locationword h4{
  text-align: center;
  line-height: 2em;
  color: #562121;
  font-weight: bold;
  margin: 0; /* 移除默认外边距 */
  padding-bottom: 10px; /* 增加下方内边距 */
  margin-top: -30px;
}

.locationword p{
  text-align: center;
  line-height: 2em;
  color: #562121;
  font-weight: bold;
  margin: 0; /* 移除默认外边距 */
  padding-bottom: 10px; /* 增加下方内边距 */
}

.we{
  margin-top: -20px;
  margin-left: -300px;
}

.we a{
  position: relative;
  right: -830px;
  top:-80px
}
