body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #df9898;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between; /* 確保 header 內部元素兩端對齊 */
    align-items: center; 
    width: 94.5%; /* 設置 header 寬度為 93% */
    margin: 20px auto; /* 確保 header 居中顯示 */
}

.draw {
    position: relative;
    top: 0px;
    margin-top: 0px;
    margin-left: 50px;
}

.site-navigation {
    margin-right: 43px;
    margin-left: auto;
    margin-top: 65px;
}

.site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-navigation ul li {
    margin: 0 15px;
}

.site-navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.site-navigation ul li a:hover {
    text-decoration: underline;
}

.split-container {
    display: flex;
    height: 100%;
}

.split {
    height: 100%;
    overflow: hidden;
    flex-grow: 1; 
}

.left {
    width: 50%;
}

.background{
    width: 800px;
    height: auto;
}

.background-wrapper {
    position: relative;
}

.background-text {
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.right {
    width: 50%;
    border-left: 1px solid rgb(62, 59, 59);
}

#login-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginForm {
    background-color: #ca6f6f;
    width: 100%;
    height: 100%;;
    color: white;
    padding: 20px; 
    line-height: 30px; 
    border-radius: 15px;
    text-align: center;
  
}

.signup-link {
    margin-top: 10px; 
    text-decoration: none; 
    color: #f8f7f8;
}

.password-link{
    color: #3e075c; 
}

.logo {
    width: 150px; 
    height: 23%;
    margin-top: 30px;
}