body {
    font-family: Arial, sans-serif;
    background-image: url(../images/b1.jpg);
    margin: 0; 
    padding: 0; 
}
footer {
    background-color: bisque;
    width: 100%;
    height: 100px;
    position: relative;
    /* left: 70px; */
    margin: 0; /* 確保沒有外邊距 */
    padding: 0; /* 確保沒有內邊距 */
  }
  footer h3{
    color: brown;  color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
  
  }
header {
    background-color: #df9898;
    padding: 20px;
    margin-top: 10px; 
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 94.5%;
    margin: 20px auto; 
}

.draw {
    margin-left: 50px;
    width: 180px;
}

.site-navigation {
    margin-right: 43px;
    margin-left: auto;
    margin-top: 65px;
}

.site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-navigation ul li {
    margin: 0 15px;
}

.site-navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.site-navigation ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 60%; 
    margin: 20px auto; 
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px; 
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 20px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}



.product:hover {
    transform: scale(1.05); 
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    color: #555;
    font-size: 1em;
    margin: 10px 0;
}

.product .price {
    color: #e74c3c;
    font-size: 1.2em;
    margin-top: 10px;
}

.product a {
    text-decoration: none;
    color: inherit;
}

.product a:hover {
    text-decoration: none;
}


